# Created by https://www.gitignore.io/api/codeblocks
# Edit at https://www.gitignore.io/?templates=codeblocks

### CodeBlocks ###
# specific to CodeBlocks IDE
src/*.layout
src/*.depend
# generated directories
src/bin/
src/obj/

### Output files ###
src/*.txt

# End of https://www.gitignore.io/api/codeblocks